@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #DAD7CD;
}

html {
  scroll-behavior: smooth;
}

/*--------------------------------------------hover*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.12);
  opacity: 1;
  border-bottom: #000 1px solid;
}

.menu-drink-image:hover,
.menu-food-image:hover,
.menu-sunday-image:hover {
  transform: scale(1.2);
}

.menu-drink-image:hover h2,
.menu-food-image:hover h2,
.menu-sunday-image:hover h2 {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------header*/

header {

  background-color: #588157;
  height: 180px;
}

.logo {
  padding-top: 20px;

}

.nav-bar {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.nav-list-item {

  display: inline-block;
  padding: 10px;
  font-size: 1.3em;
  letter-spacing: 2px;
  list-style-type: none;

  text-transform: capitalize;
}

.nav-list-item a {

  text-decoration: none;
  color: #000;
}

/*--------------------------------------------hero imgs*/

.hero-img-container {
  width: 100%;
  height: 300px;
  padding-bottom: 40px;
}

#hero-img-home {
  width: 100%;
  height: 300px;
  background-image: url(../img/hero-home.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 10px;

}

#hero-img-food {
  width: 100%;
  height: 300px;
  background-image: url(../img/hero-img-food.jpg);
  background-size: cover;
  background-position: center;


}

/*--------------------------------------------Welcome header/text*/




.welcome-header {
  border: rgba(163, 177, 138, 70%) solid 1px;
  background-color: rgba(163, 177, 138, 70%);
  height: fit-content;
  max-width: 700px;
  padding: 15px;
  border-radius: 70px;
  margin: 0 auto;
}

.welcome-header h1 {

  font-size: 2em;
  text-align: center;
}

.welcome-header h2 {

  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  font-weight: 300;

}

.welcome-text {

  margin: 0 auto;
  width: 66%;
  max-width: 700px;
  text-align: center;
}

#award-logo {

  margin-bottom: 200px;

}

#award-logo img {

  width: 60%;
  max-width: 250px;

}

/*--------------------------------------------food/Drink section*/

#food-drink-header {
  height: fit-content;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  top: 230px;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 70px;

}

#food-drink-header h2 {

  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.menu-container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-container-reverse {
  width: 80%;
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.menu-drink-image {
  /* center code for headings*/
  display: flex;
  flex-direction: column;
  justify-content: center;


  width: 50%;
  min-width: 300px;
  height: 300px;
  background-image: url(../img/drink-menu-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  transition: transform .5s;

}

.menu-food-image {
  /* center code for headings*/
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  min-width: 300px;
  height: 300px;
  background-image: url(../img/food-menu-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  transition: transform .5s;

}

.menu-sunday-image {
  /* center code for headings*/
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  min-width: 300px;
  height: 300px;
  background-image: url(../img/sunday-menu-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  transition: transform .5s;

}


.menu-text-box {
  width: 50%;
  min-width: 300px;
  height: 300px;
  background-color: #A3B18A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1em;

}

.menu-text-box p {
  padding: 0 20px 0 20px;

}

.menu-drink-image h2,
.menu-food-image h2,
.menu-sunday-image h2 {

  text-align: center;
  flex-direction: column;
  background-color: rgba(88, 129, 87, 0.7);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2em;
  width: auto;
  color: #DAD7CD;

  visibility: hidden;
  transition: transform .5s
}

.menu-drink-image a,
.menu-food-image a,
.menu-sunday-image a {

  text-decoration: none;
}

/*--------------------------------------------Footer*/

footer{
  background-color: #588157;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info{
  padding: 15px;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 600;
}

.socials-icons i{

  text-decoration: none;
  color: #000;
  font-size: 2.2em;
 
  padding: 10px;
  font-weight: 600;
}


/*--------------------------------------------flex containers*/

/*--------------------------------------------media quries*/

@media only screen and (max-width: 400px) {

  #award-logo img {

    width: 100%;

  }

  .nav-list-item {

    padding: 10px;
    font-size: 1em;
    letter-spacing: 0px;
    list-style-type: none;
  }

  header {
    padding-bottom: 5px;
  }

  .menu-sunday-image,
  .menu-food-image,
  .menu-drink-image {
    transform: scale(1.2);
  }

  .menu-drink-image h2,
  .menu-food-image h2,
  .menu-sunday-image h2 {
    visibility: visible;
  }

  footer{
    justify-content: center;}
}
@media only screen and (max-width: 650px){

footer{
  justify-content: center;}
}